.about-bg{
    background-image: url("../Photos/barista-barista-girl-business-702251.jpg");    
    background-size: 100%;
    background-color: #854801;
    background-blend-mode: overlay;
}

.about-detail {
    background-color: #CC8209;
    background-image: url('../Photos/architecture-bike-city-1070945.jpg');
    background-blend-mode: darken;
    background-size: 100%;
    width: 100%;
    background-position-y: -5px;
    padding-bottom: 30px;
 }

 .about-detail h2 {
    font-family: futura;
    font-size: 60px;    
    margin-top: 50px;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 20px;
    text-align: center;
}

.about-detail article {
    font-family: Aleo;
    font-size: 20px;
    padding: 10px 150px 10px 150px;
    text-align: center;

}

.mini-separator {
    display: flex;
    border-bottom: 5px solid #E39C01;
    justify-content: center;
    margin: auto;
    width: 20%;
}