.head {
    background-image: url("../Photos/basket-chalkboard-coffee-shop-143642.jpg");    
    background-size: 100%;
    background-color: #854801;
    background-blend-mode: overlay;
    width: 100%;    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 100px;
    border-bottom: 10px solid #FFD75E;
    letter-spacing: 30px;
}

h1 {
    text-align: center;
    font-size: 100px;
    border: 25px solid white;
    padding: 70px 100px 70px 100px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: start;
}

.menu-left img {
    display: flex;
    width: 300px;
    height: 300px;
}

.menu-detail-left h2 {
    font-family: futura;
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu-detail-left p {
    font-family: Aleo;
    font-size: 20px;
    padding-left: 30px;
}

.menu-detail-left {
   background-color: #CC8209;
   height: 300px;
   background-image: url('../Photos/aroma-aromatic-art-434213.jpg');
   background-blend-mode: luminosity;
   background-size: 170%;
   background-position-y: -855px;
   padding-right: 30px;
}

.menu-item {
    padding: 0;
    margin: 0;
}

.li-menu-item {
    color: white;
    display: flex;
    flex-direction: row;
}


.reverse {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.separator {
    border-bottom: 5px solid #854801;
}

.price {
    font-weight: bold;
    font-size: 30px;
    font-family: futura;
}

