*{
    margin: 0;
    padding: 0;
}
.head {
    background-image: url("../Photos/basket-chalkboard-coffee-shop-143642.jpg");    
    background-size: 100%;
    background-color: #854801;
    background-blend-mode: overlay;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-basis: 100vw; 
    letter-spacing: 30px;
}

.head h1 {
    text-align: center;
    font-size: 100px;
    border: 25px solid white;   
    padding: 80px; 
}

.menu {        
    padding: 100px 170px;
    margin: 0;  
    background-blend-mode: luminosity;   
    background-image: url('../Photos/aroma-aromatic-art-434213.jpg');
    background-color: #FFD75E;
    background-size: 100%;
    background-attachment: fixed;    
}

.menu-left {
    display: flex;
    flex-direction: row;
    justify-content: start;    
}

.detail{
    padding: 20px;
}

.--align-right{
    text-align: right;
}

.reviews div > img, .menu div > img {
    display: flex;
    width: 250px;    
    height: 250px;
}
.li-menu-item {
    color: white;
    display: flex;
    flex-direction: row;              
    background-color: #CC8209;    
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;  
    background-color: #B85301;      
}

@media (max-width: 420px){
    .reviews div > img, .menu div > img {       
        width: 100px;        
        height: 100px;
    }

    .head{
        height: 70vh;
        background-size: 300%;
        background-position-x: -80vw;
    }

    .head h1{
        font-size: 50px;
        padding: 20px;
        border-width: 10px;
    }

    .menu {        
        padding: 20px 30px;
    }
    
    .detail{
        padding: 0 10px;   
    }
}
